body,
nav,
aside,
section,
header,
footer,
main {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body,
nav {
    flex-wrap: wrap;
    background-color: #3b3b3b;
    color: #b5b5b5;
    z-index: -2;
}

main {
    display: flex;
    position: relative;
}

header {
    width: 100%;
    height: 110px;
}

/* section {
    background-color: #535353;
    color: #b5b5b5;
    z-index: -1;
} */
div {
    background-color: #535353;
    color: #b5b5b5;
    z-index: -1;
}

.middleSection {
    position: relative;
    margin-left: 10px;
}

.rightSection {
    position: relative;
    margin-left: 10px;

}

.setRecommended {
    margin-left: 10px;
    width: 430px;
    height: 200px;
}

.map {
    /* position: relative; */
    z-index: -1;
    margin-top: 10px;
    margin-left: 10px;
    width: 340;
    height: 390px;
}

.mapInnerWrap {
    margin-left: 25px;
    margin-left: 10px;
}

.actualMap {
position: relative;
}

#favorites {
    margin-top: 20px;
    position: absolute;
}

.TLVbusDepot {
    z-index: -2;
    margin-top: 60px;

}

.gridBattery {
    padding-left: 10px;
    width: 500px;
    height: 130px;
}

.predicion {
    margin-top: 10px;
    width: 510px;
    height: 250px;
}

.savings {
    margin-top: 10px;
    width: 510px;
    height: 260px;
}

.howMuchCO2 {
    background-color: #d2d2d2;
    color: #51535b;
    width: 470px;
    height: 170px;
}

.templates {
    margin-top: 10px;
    width: 470px;
    height: 440px;
}

.template {
    width: 440px;
    height: 90px;
}

.TLVbusDepot,
.template {
    background-color: #4a4a4a;
    color: #b5b5b5;
    height: 100px;
    width: 400px;
}

.customize {
    background-color: #ebebeb;
    color: black;
    width: 170px;
    height: 40px;
}