body,
nav,
aside,
section,
header,
footer,
main {
    display: block;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}


.container-fluid1 {
    width: 100%;
    height: 100%;
    position: relative;

}

.row>main {
    background-color: #3b3b3b;
    width: 100%;
    display: flex;
    position: relative;
}

.header1 {
    width: 100%;
    display: flex;
    align-items: center;
}


#logo {
    margin-left: 400px;
}


.userPic {
    position: absolute;
    width: 100px;
    border-radius: 1000px;
    margin-left: 93%;
}

.howMuchCO2>h6 {
    margin-left: 10px;
    display: flex;
    font-size: small;

}

.howMuchCO2>h5 {
    display: flex;
    font-size: medium;

}

.div1 {
    background-color: #535353;
    color: white;
}

#myChart {
    color: white;
}

.predictionLeft {
    /* display: flex; */
    margin-top: 20px;
    /* justify-content: center; */
    margin-left: 10px;
    font-size: 100px;
}

.middleSection {
    position: relative;
    margin-left: 10px;
    flex-grow: 2;
    width: 40%;
}

.templatesMobile {
    display: none;
}

.rightSection {
    width: 35%;
    flex-grow: 1;
    margin-left: 10px;
}

.leftSection {
    flex-grow: 1;
    width: 35%;
}

.buttomSection {
    display: none;
}

.setRecommended {
    margin-left: 10px;
}

.setRecommended>p {
    font-weight: 200;
}

.map {
    display: flex;
    z-index: -1;
    margin-left: 10px;
    height: 390px;
}

.mapInnerWrap {
    position: relative;
    margin-left: 10px;
}

.actualMap {
    display: flex;
    margin-top: 10px;
    width: 80%;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin: 0%;
}
.main1{
    padding: 0;
    margin: 0%;
    padding-left: 0;
    padding-right: 0;
    margin: 0%;
}

.favorites {
    margin-top: 5px;
    font-size: 156.25%;
    position: absolute;
}

.arrow {
    position: absolute;
    margin-left: 500px;
}

.TLVbusDepot {
    z-index: -2;
    margin-top: 40px;
    color: white;
}

.TLVbusDepot>h3 {
    font-size: 125%;
    color: white;
    font-weight: 300;

}

.TLVbusDepot>h4 {
    font-size: 62.5%;
}

.gridBattery {
    margin-bottom: 10px;
    height: 130px;
}


#flexSwitchCheckDefault {
    position: absolute;
    margin-left: 45%;
    margin-top: 30px;
}

.setSwitch {
    position: relative;
    margin-left: 45%;
}

.row>.div1 {
    margin-bottom: 10px;
}

.predicion {
    display: flex;
    margin-top: 10px;
}

.predicion>h2 {
    margin-left: 10px;
    color: white;

}

#line-chart {
    min-height: 250px;
    z-index: 3;
    background-color: palegoldenrod;
}

.savings {
    margin-bottom: 10px;
    margin-top: 10px;
}

.savings>h2 {
    margin-left: 10px;
    color: white;


}

.body1 h6 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.howMuchCO2 {
    background-color: #d2d2d2;
    color: #51535b;
    width: 100%;
    height: 170px;
}

.setRecommended>p {
    /* display: flex; */
    margin-left: 10px;
}

.div1>ul>li {
    font-size: 70%;
    margin-left: 10px;
}


.header1>h1 {
    font-weight: 300;
}

.div1>h2 {
    font-weight: 300;
    color: white;

}

.templates {
    position: relative;
    /* justify-content: center; */
    z-index: 2;
    margin-top: 10px;
    width: 100%;
    background-color: #535353;
    /* height: 100%; */

}

.template {
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

.template>h4 {
    font-weight: 200;
    font-size: 125%;
    margin-left: 10px;

}

.template>h6 {
    margin-left: 10px;
    font-weight: 200;
    font-size: 100%;
}

.body1>.search {
    background-color: #606060;
    width: 96%;
    margin-left: 2%;
    height: 20px;
}

.TLVbusDepot,
.template {
    width: 80%;
    background-color: #4a4a4a;
    color: #b5b5b5;
    height: 100px;
}

.customize {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ebebeb;
    color: black;
    width: 150px;
    height: 40px;
    border-radius: 7px;
}

.customize2 {
    display: none;
}


.body1>.container {
    width: 70%;
    margin: 15px auto;
}

.navbar {
    margin-left: 15px;
}

.fw-300 {
    font-weight: 300;
}

.fs-30 {
    font-size: calc(1rem + 1vw);
}

.fs-38 {
    font-size: 38px;
}

.logo94 {
    width: 94px;
    height: 94px;
    background-image: url(../images/logo94.png);
}

.bg-2b2b2b {
    background-color: #2b2b2b;
}

.bg-4a4a4a {
    background-color: #4a4a4a;
}

.bg-777777-40 {
    background-color: #77777740;
}

.bg-3b3b3b {
    background-color: #3b3b3b;
}

.bg-606060 {
    background-color: #606060;
}
.btn-check:disabled+.btn{
    opacity: 1;
}

.btn-outline-primary {
    --bs-btn-active-bg: #2196f3;
    --bs-btn-active-border-color: #606060;
    --bs-btn-focus-bg: #2196f3;
    --bs-btn-bg: #606060;
    --bs-btn-color: #ffffff;
    --bs-btn-disabled-color: #ffffff;
    border: 0;
    opacity: 1;
}

.btn-primary {
    --bs-btn-active-bg: #3b3b3b;
    --bs-btn-active-border-color: #3b3b3b;
    --bs-btn-focus-bg: #3b3b3b;
    --bs-btn-bg: #606060;
    --bs-btn-hover-bg: #606060;
    border: 0;
}

.templates-body .row {
    margin: 0;
}

.display-6{
    font-size: calc(0.5rem + 1vw);
}

@media (max-width:768px) {

    .navbar-brand {
        display: none;
    }

    .templates-names {
        display: none;
    }

    .body1 .gridBattery {
        display: none;
    }

    .howMuchCO2 {
        display: none;
    }

    .savings {}

    .prediction .div1 {
        /* height: 20%; */
        display: none;
    }

    .prediction>h2 {
        display: none;
    }

    .row>main {
        background-color: #3b3b3b;
        width: 100%;
        display: block;
        position: relative;
    }


    .templatesMobile {
        margin-top: 10px;
        position: relative;
        display: block;
    }

    .customize2 {
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: #ebebeb;
        color: black;
        width: 150px;
        height: 40px;
        border-radius: 7px;
    }

    .customize {
        display: none;
    }

    .middleSection {
        margin-top: 10px;
        width: 100%;
        height: 50%;
    }

    .leftSection {
        margin-top: 10px;
        width: 100%;
    }

    .rightSection {
        display: none;
    }

    .buttomSection {
        display: flex;
        height: 50%;
    }

    .map {
        display: none;
    }

    .mapInnerWrap {
        width: 100%;
    }

}

@media (max-width:992px) {
    .userPic {
        display: none;
    }

    .logo94 {
        width: 36px;
        height: 36px;
        background-image: url(../images/logo36.png);
    }
}